extends _template.pug
include mixins/_btn-arrow.pug

block title
	title Название

block header
	include include/_header.pug

block content
	include include/_page-section.pug
	include include/_products.pug
	include include/_benefits.pug
	include include/_specification.pug
	include include/_questions.pug

	include include/_contacts.pug
	include include/_footer.pug