section.section-subscribe
    .container
        h2.section-title Voluptatem illo assumenda
        .section-subscribe__inner
            .section-subscribe__info
                .section-subscribe__title Start:
                    span october 29
                .section-subscribe__title Remained:
                    span 15 seats
                p Qui eos a quia dolorem sapiente deserunt ut expedita sunt. Quia perspiciatis quo excepturi id dolor voluptatem aut adipisci.
            form.section-subscribe__form
                input(type="text" name="email" placeholder="Your email")
                input(type="tel" name="email" placeholder="Your phone")
                input(type="text" name="name" placeholder="Your name")
                button.button(type="submit") Subscribe
            .section-subscribe__price
                .section-people__desc Labore qui et animi.
                .section-subscribe__total 
                    .section-subscribe__total--month 4 900 ₽
                        span per month
                    .section-subscribe__total--discount -40%
                        span until 28 december
                .section-subscribe__old-price installment plan without discount
                    .section-subscribe__old-price--line
                        span 5000 ₽/month